<h3>Process</h3>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ítem</th>
        <th scope="col">Descripción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Titulo</td>
        <td>{{title}}</td>
      </tr>
      <tr>
        <td>Plataforma</td>
        <td>{{platform}}</td>
      </tr>
      <tr>
        <td>Versión node</td>
        <td>{{node}}</td>
      </tr>
      <tr>
        <td>Memoria usada</td>
        <td>{{memory}}</td>
      </tr>
      <tr>
        <td>Directorio</td>
        <td>{{path}}</td>
      </tr>
      <tr>
        <td>ID</td>
        <td>{{pid}}</td>
      </tr>
      <tr>
        <td>Carpeta</td>
        <td>{{folder}}</td>
      </tr>
    </tbody>
  </table>
  <a href="/" class="w-100 mb-2 btn btn-lg rounded-3 btn-success">Volver a inicio</a>
</div>